%footer.page-footer.teal
  .container
    Made by
    %a.brown-text.text-lighten-3{:href => "https://twitter.com/Ilovfcsnd"} Nishida Daiki
/ Scripts
%script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
%script{:src => "js/materialize.js"}
%script{:src => "js/init.js"}
