input#post_title.form_title {
}

label {
  display: block;
}

label.label_title {
  display: block;
  margin-top: 50px;
}

label.label_image {
  display: block;
  margin: 10px 0 5px 0;
}

label.label_text {
  display: block;
  margin: 15px 0 5px 0;
}

input.submit_button {
  width: 400px;
  margin: 30px 0 100px 130px;
  padding: 10px;
}

.submit_btn {
  width: 400px;
  margin: 30px 0 220px 130px;
  padding: 10px;
}

.sub_btn {
  width: 400px;
  margin: 30px 0 110px 130px;
  padding: 10px;
}

.sub_btnn {
  width: 400px;
  margin: 30px 0 52px 130px;
  padding: 10px;
}

.btn {
  width: 400px;
  margin: 30px 0 525px 130px;
  padding: 10px;
}

.content.post{
  .success {
    h3.updated {
      margin: 250px 0 52px 140px;
    }

    .update {
      height: 330px;
    }
    .update a {
      background-color: #4DB6AC;
      border-radius: 20px;
      color: #fff;
      border: 0;
      cursor: pointer;
      width: 400px;
      margin: 20px 0 0 75px;
      padding: 10px 200px;
    }
  }
}



