.post{
  height: 84%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}

.content.post h3 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 35px;
  color: #666666;
}

.content.post textarea {
  height: 300px;
  margin-top: 20px;
}

a.post {
  background-color: #26a69a;
  color: white;
  margin: 10px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  padding: 10px 28px;
}

.user_nav.grid-6 {
  display: inline-block;
}
