html, body {
  height: 100%;
}

#content.hfeed{
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#wrapper {
  min-height: 80vh;
  position: relative;
  padding-bottom: 42px;
}

nav.white {
  background-color: #4DB6AC;
}
